{% extends 'material/base.html' %}

{% block title %}
{% if title %}{{ title }} - Microblog{% else %}{{ _('Welcome to Microblog') }}{% endif %}
{% endblock %}

{% block navbar %}
  <nav>
    <div class="nav-wrapper">
      <a href="{{ url_for('main.index') }}" class="brand-logo center">Microblog</a>
      <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      {% if g.search_form %}
      <ul class="left hide-on-med-and-down">
	<form method="get" action="{{ url_for('main.search') }}">
	  <div class="input-field">
	    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }} 
	  </div>
	</form>
      </ul>
      {% endif %}
      <ul class="right hide-on-med-and-down">
	<li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
	<li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
	{% if current_user.is_anonymous %}
	<li class="active"><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
	{% else %}
	<li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
	<li class="active"><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
	{% endif %}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile">
    <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
    <li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
    {% if current_user.is_anonymous %}
    <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
    {% else %}
    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
    <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div id="card-alert" class="card red lighten-5">
	<div class="card-content red-text">
	  {{ message }}
	</div>
      </div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {})
  </script>
  {{ moment.include_moment() }}
  {{ moment.lang(g.locale) }}
  <script>
    function translate(sourceElem, destElem, sourceLang, destLang) {
      $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}"');
      $.post('/translate', {
	text: $(sourceElem).text(),
	source_language: sourceLang,
	dest_language: destLang,
      }).done(function(response) {
	$(destElem.text(response['text']))
      }).fail(function() {
	$(destElem).text("{{ _('Error: Could not contact server.') }}");
      });
    }
  </script>
{% endblock %}
