{% extends 'material/base.html' %}

{% block title %}
{% if title %}{{ title }} - Microblog{% else %}{{ _('Welcome to Microblog') }}{% endif %}
{% endblock %}

{% block navbar %}
  <nav>
    <div class="nav-wrapper">
      <a href="{{ url_for('index') }}" class="brand-logo">Microblog</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
	<li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
	<li><a href="{{ url_for('explore') }}">{{ _('Explore') }}</a></li>
	{% if current_user.is_anonymous %}
	<li><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
	{% else %}
	<li><a href="{{ url_for('user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
	<li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
	{% endif %}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
    <li><a href="{{ url_for('explore') }}">{{ _('Explore') }}</a></li>
    {% if current_user.is_anonymous %}
    <li><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
    {% else %}
    <li><a href="{{ url_for('user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
    <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div id="card-alert" class="card red lighten-5">
	<div class="card-content red-text">
	  {{ message }}
	</div>
      </div>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {})
  </script>
  {{ moment.include_moment() }}
{% endblock %}
